https://oikolab.com/documentation

In [1]:
import pandas as pd
import json
import requests
import time
import datetime

In [2]:
# states from usa_merged_data
usa_states = ['Wyoming', 'Wisconsin', 'West Virginia', 'Washington', 'Virginia',
              'Vermont', 'Utah', 'Texas', 'Tennessee', 'South Dakota',
              'South Carolina', 'Rhode Island', 'Pennsylvania', 'Oregon',
              'Oklahoma', 'Ohio', 'North Dakota', 'North Carolina', 'New York',
              'New Mexico', 'New Jersey', 'New Hampshire', 'Nevada', 'Nebraska',
              'Montana', 'Missouri', 'Mississippi', 'Minnesota', 'Michigan',
              'Massachusetts', 'Maryland', 'Maine', 'Louisiana', 'Kentucky',
              'Kansas', 'Iowa', 'Indiana', 'Illinois', 'Idaho', 'Hawaii',
              'Georgia', 'Florida', 'District of Columbia', 'Delaware',
              'Connecticut', 'Colorado', 'California', 'Arkansas', 'Arizona',
              'Alaska', 'Alabama']

weather_usa_states = pd.DataFrame()

today = datetime.datetime.today()
yesterday = (today - datetime.timedelta(days=1)).strftime('%Y-%m-%d')

i=1

for state in usa_states:
    
    r = requests.get('https://api.oikolab.com/weather',
                     params={'param': ['temperature', 'wind_speed'], 
                             'start': '2020-01-01T00:00:00',
                             'end': yesterday+'T00:00:00',
                             'location': state,
                             'api-key': 'xxxxxxxxxxxxxxxxxxxxxxxxx'}
                    )

    if r.status_code == 200:
        attributes = r.json()['attributes']
        weather_data = json.loads(r.json()['data'])

        df = pd.DataFrame(index = pd.to_datetime(weather_data['index'], unit='s'),
                          data = weather_data['data'],
                          columns = weather_data['columns']) \
               .reset_index() \
               .rename(columns={'index': 'date'})

        df['date'] = df['date'].dt.floor('d')

        weather_by_day = df.groupby('date').median().reset_index()
        weather_by_day['state'] = state

        weather_usa_states = pd.concat([weather_by_day, weather_usa_states])


    else:
        print(r.text)
        
    i +=1
    
    if ((i%5 == 0) & (i<52)):
        time.sleep(61)

In [3]:
weather_usa_states.head()

        date  temperature (degC)  wind_speed (m/s)    state
0 2020-01-01               9.555             1.860  Alabama
1 2020-01-02              12.385             4.855  Alabama
2 2020-01-03              17.030             2.165  Alabama
3 2020-01-04              12.450             4.600  Alabama
4 2020-01-05               6.480             1.945  Alabama

In [4]:
weather_usa_states['state'].nunique()

51

In [5]:
len(usa_states)

51

In [6]:
set(usa_states) - set(weather_usa_states['state'])

set()

In [10]:
weather_usa_states = weather_usa_states.rename(columns=
                                               {'temperature (degC)': 'temperature_median_degC',
                                                'wind_speed (m/s)': 'wind_speed_median_m/s'})

weather_usa_states.head()

        date  temperature_median_degC  wind_speed_median_m/s    state
0 2020-01-01                    9.555                  1.860  Alabama
1 2020-01-02                   12.385                  4.855  Alabama
2 2020-01-03                   17.030                  2.165  Alabama
3 2020-01-04                   12.450                  4.600  Alabama
4 2020-01-05                    6.480                  1.945  Alabama

In [12]:
weather_usa_states.groupby('state').count().head()

            date  temperature_median_degC  wind_speed_median_m/s
state
Alabama      220                      220                    220
Alaska       220                      220                    220
Arizona      220                      220                    220
Arkansas     220                      220                    220
California   220                      220                    220

In [16]:
datetime.datetime.strptime(yesterday, '%Y-%m-%d') - datetime.datetime.strptime('2020-01-01', '%Y-%m-%d')

datetime.timedelta(219)

In [18]:
weather_usa_states.to_csv('weather_usa_states.csv')

# Merge weather and usa_merged_data datasets

In [24]:
# merged data file in current directory
usa_merged_data = pd.read_csv('usa_merged_data.csv')
len(usa_merged_data)

8161

In [30]:
usa_data = usa_merged_data.merge(usa_merged_data, on=['date', 'state'])

In [31]:
len(usa_data)

8161

In [32]:
usa_data.to_csv('usa_data.csv')